:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
    --secondary-color: #868686;
    --teariary-color: #eff3f4;
    --secondary-bg-color: # #5c1011;
 
}
 

* {
    font-family: "Lato";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

img{
    width: 100%;
}

#header{
    background-size: cover;
    background-position: center;
    min-height: 95vh;
    background-image: url("../IMAGENS/main_banner4.png");
    color: var(--primary-text-color);
    margin-bottom: 5rem;
}

#inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

#brand{
    background-color: var(--main-color);
    padding: 2rem;
    
}

#navbar{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    margin-right: 2rem;
}
 
#navbar a{
    color:var(--primary-text-color);
    font-weight: bold;
    padding: 1rem;
}
.banner{
    max-width: 45%;
    opacity: 1;
    padding: 4rem;
    position: absolute;
}

.banner2{
    max-width: 50%;
    opacity: 0;
    padding: 4rem;
    position: absolute;
}

.banner h2{
    font-size: 4rem;
    position: relative;
    z-index: 2;


}

.banner p{
    font-size: 1.5rem;

    
}
.square{
    display: block;
    width:150px;
    height: 150px;
    background-color: #d92123;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 1;
}



.dot{
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
}
.dots{
    left: 2rem;
    bottom: 8rem;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    position: absolute;
}

.dot.active{
    background-color: var(--secondary-color);
}
