:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
    --secondary-color: #868686;
    --teariary-color: #eff3f4;
    --secondary-bg-color: # #5c1011;
 
}
 

* {
    font-family: "Lato";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

img{
    width: 100%;
}

#header{
    background-size: cover;
    background-position: center;
    min-height: 95vh;
    background-image: url("../IMAGENS/main_banner4.png");
    color: var(--primary-text-color);
    margin-bottom: 5rem;
}

#inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

#brand{
    background-color: var(--main-color);
    padding: 2rem;
    
}

#navbar{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    margin-right: 2rem;
}
 
#navbar a{
    color:var(--primary-text-color);
    font-weight: bold;
    padding: 1rem;
}
.banner{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 25px;
}

.square{
    display: block;
    width:150px;
    height: 150px;
    background-color: #d92123;
}
#servico{
    
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 1000px;
}
#servico1{
    width: 700px;
    height: 700px;
    background-color: #191919;
}

#servico2 img{
    
    width: 700px;
    height: 700px;
}
#servico2{
    width: 50px;
}